#### Made by Lewis AGBOGNIHOUE

In [1]:
#import the modules
import pandas as pd

read data from file

In [12]:
 
df = pd.read_csv("adult.data.csv" , na_values=["","?"])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [13]:

print(df.shape)

races_count = df['race'].value_counts()
races_count

(32561, 15)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

 What is the average age of men?

In [134]:
males = df.loc[df['sex'] == "Male", 'age']

average_male_age = df.loc[df['sex'] == "Male", 'age'].mean()
average_male_age

39.43354749885268

In [41]:
# What is the percentage of people who have a Bachelor's degree?
bachelors = df.loc[df['education']=='Bachelors'].shape[0]
percentage_bachelors = 100 *(bachelors / df.shape[0])
percentage_bachelors

(32561, 15)

16.44605509658794

In [64]:
mask = df["salary"] ==">50K"
df[mask]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
What percentage of people without advanced education make more than 50K?

In [80]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[(df["salary"]==">50K") & (df["education"].isin(["Bachelors", "Masters","Doctorate"])) ] 
lower_education = df.loc[(df["salary"]==">50K") & (~df["education"].isin(["Bachelors", "Masters","Doctorate"]))]

10.706059396210192

In [144]:
# percentage with salary >50K
higher_edu = df.loc[df["education"].isin(["Bachelors", "Masters","Doctorate"])]
lower_edu = df.loc[~df["education"].isin(["Bachelors", "Masters","Doctorate"])]
higher_education_rich = 100*(higher_education.shape[0] / higher_edu.shape[0])
lower_education_rich  =100* (lower_education.shape[0] / lower_edu.shape[0])
print(higher_education_rich, lower_education_rich)

46.535843011613935 17.3713601914639

In [95]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [166]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[(df['hours-per-week'] == min_work_hours) & (df["salary"] =='>50K')].shape[0] 
num_min_workers

rich_percentage = round(100 * (num_min_workers / df.loc[df["hours-per-week"] == min_work_hours].shape[0]),1)
rich_percentage

10.0

In [170]:
# What country has the highest percentage of people that earn >50K?
countries_percentage = df.loc[df["salary"] ==">50K","native-country" ].value_counts() / df["native-country"].value_counts()
rich =pd.DataFrame(df.loc[df["salary"] ==">50K","native-country" ].value_counts() / 
df["native-country"].value_counts())

rich = rich.sort_values("native-country", ascending=False)

highest_earning_country = rich.index[0]

highest_earning_country_percentage = round(100 * countries_percentage.max(),1)

In [137]:
print(df.loc[df["native-country"] == 'United-States'].shape[0])
print(rich_by_country.max())

29170
7171

In [133]:
# Identify the most popular occupation for those who earn >50K in India.
occupation_in_india = df.loc[(df["native-country"] == "India") & (df["salary"] ==">50K"),"occupation" ].value_counts()
top_IN_occupation = occupation_in_india.index[0]
top_IN_occupation

'Prof-specialty'